<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowy adres</title>
</head>
<body>
<div align="center">
    <!-- Page header -->
    <h1>Dodaj nowy adres</h1>
    <!-- New line -->
    <br/>

    <form action="#" th:action="@{/saveAdresy}" th:object="${adresy}" , method="post">
        <table border="1" cellpadding="10">
            <!-- Table row -->
            <tr>
                <td>Miasto</td>
                <td><input type="text" th:field="*{miasto}"></td>
            </tr>
            <!-- Table second row -->
            <tr>
                <td>Ulica</td>
                <td><input type="text" th:field="*{ulica}"></td>
            </tr>
            <!-- Table third row -->
            <tr>
                <td>Numer lokalu</td>
                <td><input type="text" th:field="*{nr_lokalu}"></td>
            </tr>
            <tr>
                <td>Numer poczty</td>
                <td><input type="text" th:field="*{nr_poczty}"></td>
            </tr>
            <!-- Button for new record save -->
            <tr>
                <td colspan="2">
                    <button type="submit">Zapisz</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>